html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F0FDF4;
}

strong, b {
  font-weight: bolder;
}

@media print {
  body {
    background-color: #fff;
  }
}

html, body, #root {
  width: 100%;
  height: 100%;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.app-container main {
  flex: 1;
}

